@page "/jokes"

@attribute [StreamRendering]

@inject IJokeService _jokeService

<h3>Jokes</h3>

@if (jokes == null)
{
    for (int i = 0; i < 6; i++)
    {
        <FluentCard class="card-padding">
            <FluentSkeleton Shimmer=true Style="margin-top: 20px;margin-bottom: 10px;" Width="200px" Height="20px"></FluentSkeleton>
            <FluentSkeleton Shimmer=true Style="margin-top: 20px;margin-bottom: 10px;" Width="200px" Height="20px"></FluentSkeleton>
        </FluentCard>
    }    
}

else
{
    @foreach (var joke in jokes)
    {
        <FluentCard Width="300px" Height="200px">
            <FluentLabel Typo="Typography.Body" Weight="FontWeight.Bold">@joke.Question</FluentLabel>
            <br />
            <FluentLabel Typo="Typography.Body">@joke.Answer </FluentLabel>
        </FluentCard>
    }
}

@code {
    private IEnumerable<Joke>? jokes;

    protected override async Task OnInitializedAsync()
    {
        jokes = await _jokeService.GetAllJokes();
    }
}
